<div class="row">
    <div class="col-md-4">
        <div class="box box-tertiary">
            <div class="handle"></div>
            <div class="bars"></div>
            <div class="text-center">
                <b>Male &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Femail</b>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box box-secondary">
            <div class="handle"></div>
            <div class="signs"></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box box-primary">
            <div class="handle-white"></div>
            <div class="labels text-center">
                <p>
                    <span class="big">156</span> total
                </p>
                <p>
                    <b>24.5 y</b> average age
                </p>
                <p>
                    Youngest <b>21 y</b>
                </p>
                <p>
                    Oldest <b>57 y</b>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center text-holder">
        {{= it.include("modules/stats_and_charts") }}
    </div>
</div>
