<div class="content-wrapper">
    <div class="container">
        <div class="row section">
            <div class="col-md-6 col-md-push-6">
                {{= it.include("modules/content_image_right") }}
            </div>
            <div class="col-md-6 col-md-pull-6">
                <div class="text-holder top-offset">
                    {{= it.include("modules/scan_an_id_barcode") }}
                </div>
            </div>
        </div>
        <div class="row section">
            <div class="col-md-6">
                {{= it.include("modules/content_image_left") }}
            </div>
            <div class="col-md-6">
                <div class="text-holder top-offset">
                    {{= it.include("modules/turn_on_bouncer_mode") }}
                </div>
            </div>
        </div>
        <div class="row section">
            <div class="col-md-12">
                {{= it.include("modules/color_boxes") }}
            </div>
        </div>
    </div>
</div>
