<footer class="footer-wrapper">
    <div class="container">
        <div class="row section">
            <div class="col-md-12 text-center">
                <img id="footerLogo" src="./assets/images/footer-logo.png" alt="logo">
            </div>
        </div>
        <div class="row section">
            <div class="col-md-12 text-center">
                <p>
                    Developed by <a href="#"><img src="./assets/images/footer-infinum-logo.png" alt="infinum logo"></a>
                </p>
            </div>
            <div class="col-md-12 text-center">
                <p>
                    PhotoPay Mobila SDK by <a href="#"><img src="./assets/images/footer-photopay-logo.png" alt="photopay logo"></a>
                </p>
            </div>
        </div>
    </div>
</footer>
